= form_for [@project, @protected_tag], html: { class: 'new-protected-tag js-new-protected-tag' } do |f|
  %input{ type: 'hidden', name: 'update_section', value: 'js-protected-tags-settings' }
  .card
    .card-header
      Protect a tag
    .card-body
      = form_errors(@protected_tag)
      .form-group.row
        .col-md-2.text-right
          = f.label :name, 'Tag:'
        .col-md-10.protected-tags-dropdown
          = render partial: "projects/protected_tags/shared/dropdown", locals: { f: f }
          .form-text.text-muted
            = link_to 'Wildcards', help_page_path('user/project/protected_tags', anchor: 'wildcard-protected-tags')
            such as
            %code v*
            or
            %code *-release
            are supported.
      .form-group.row
        %label.col-md-2.text-right{ for: 'create_access_levels_attributes' }
          Allowed to create:
        .col-md-10
          .create_access_levels-container
            = yield :create_access_levels

    .card-footer
      = f.submit _('Protect'), class: 'btn-success btn', disabled: true, data: { qa_selector: 'protect_tag_button' }
